@{
    ViewData["Title"] = "Home Page";
}
<style>
    .bordered-box {
        border: 1px solid #ddd;
        padding: 20px;
        width: 300px; /* Adjust the width as needed */
        border-radius: 10px;
        margin-left: 15%;
    }
    
    .launcher {
        float: left;
        margin: auto;
        position: absolute;
    }
    .quit {
        position: absolute;
        margin-left: 10%;
    }
    .jeu {
        margin-top:15%;
    }
    .nombre {
        color: #173369;
    }
    .time {
        margin-left: 90%;
    }
    .list-container {
        display: flex;
        gap: 2em;
    }
</style>

<div class="text-center">
    <h1 class="display-4">{{ title }}</h1>
</div>
<div class="col mt-5">
    <div class="mt-3 launcher"><button class="btn btn-success" ng-click="startGame()">Lancer le Jeu</button></div>
    <div class="mt-3 quit"><button class="btn btn-outline-danger" ng-click="endGame()">Quitter le Jeu</button></div>
</div>
<div class="mt-5 text-center time">
    <h5 class="titleTemps">Time : </h5><h1 class="temps" >{{ timer }}</h1>
</div>
<div class="container jeu" ng-if="randomNumber != -1">
    <div class="mt-3 text-center">
        <h5>Nombre a predir : </h5><h3 class="display-4"><span class="modal-title nombre">{{ randomNumber }}</span></h3>
    </div>

    <div class="text-center mt-5 list-group">
        <table class="table">
            <tr>
                <td ng-repeat="chiffre in randomSeven track by $index"><h5>{{ chiffre }}</h5></td>
            </tr>
        </table>
    </div>

    <div class="list-container mt-5">
        <div class="list-item bordered-box" ng-repeat="j in listJoueur track by $index">
            <p class="mt-3">{{ j.Nom }}</p>
            <input type="number" class="mt-3"/>
            <button class="btn btn-primary mt-3" ng-click="">valider</button>
        </div>
    </div>
</div>





